<div class="ksf-linenumbers">
    <span>1.</span>
    <span>2.</span>
    <span>3.</span>
    <span>4.</span>
    <span>5.</span>
    <span>6.</span>
    <span>7.</span>
</div>

<div></div>
<div>
    <span class="line-content">
        <span class="ksf-comments">/* Sample CSS */</span>
    </span>
</div>
<div>
    <span class="line-content">
        <span class="ksf-operators">#</span><span class="ksf-ids">kolormodo</span> <span class="ksf-operators">{</span> <span class="ksf-identifiers">color</span><span class="ksf-operators">:</span> <span class="ksf-operators">#</span>fff<span class="ksf-operators">;</span> <span class="ksf-operators">}</span>
    </span>
</div>
<div>
    <span class="line-content">
        <span class="ksf-operators">.</span><span class="ksf-classes">ksf</span> <span class="ksf-operators">{</span> <span class="ksf-identifiers">display</span><span class="ksf-operators">:</span> block<span class="ksf-operators">;</span> <span class="ksf-operators">}</span>
    </span>
</div>
<div>
    <span class="line-content">
        <span class="ksf-tags">article</span> <span class="ksf-operators">&gt;</span> <span class="ksf-tags">div</span> <span class="ksf-operators">{</span> <span class="ksf-identifiers">margin-left</span><span class="ksf-operators">:</span> 10px<span class="ksf-operators">;</span> <span class="ksf-operators">}</span>
    </span>
</div>
<div></div>
<div></div>