<div>
    <span class="line-content">
        <span class="ksf-keywords">module</span>&nbsp;Web
    </span>
</div>
<div>
    <span class="line-content indent">
        <span class="ksf-keywords">class</span>&nbsp;<span class="ksf-classes">Komodo</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ksf-comments"># A class for scheme preview</span>
    </span>
</div>
<div>
    <span class="line-content indent-twice">
        <span class="ksf-class-variables">@@class_var</span>&nbsp;<span class="ksf-operators">=</span>&nbsp;<span class="ksf-numbers">82</span>
    </span>
</div>
<div>
    <span class="line-content indent-twice">
        <span class="ksf-identifiers">attr</span>&nbsp;<span class="ksf-symbols">:symbol</span>
    </span>
</div>
<div></div>
<div>
    <span class="line-content indent-twice ksf-line-highlight">
        <span class="ksf-keywords">def</span>&nbsp;<span class="ksf-functions">init</span><span class="ksf-operators">(</span><span class="ksf-identifiers">user</span><span class="ksf-operators">,</span>&nbsp;<span class="ksf-identifiers">id</span><span class="ksf-operators">)</span>
    </span>
</div>
<div>
    <span class="line-content indent-thrice">
        <span class="ksf-instance-variables">@instance_var</span>&nbsp;<span class="ksf-operators">=</span>&nbsp;<span class="ksf-strings">"Hello World"</span>
    </span>
</div>
<div>
    <span class="line-content indent-thrice">
        <span class="ksf-selected">
            <span class="ksf-identifiers">print</span>&nbsp;<span class="ksf-strings">"Hello World"</span>
        </span>
    </span>
</div>
<div>
    <span class="line-content indent-twice">
        <span class="ksf-keywords">end</span>
    </span>
</div>