html, body { height: 100%; position: relative; padding: 0; margin: 0; background-color: #E5F7FD; color: #4D4D4D; font-family: Segoe UI, Arial, sans-serif; }
h1, h2, h3, h4, h5 { margin-top: 0; margin-bottom: 5px; font-weight: normal; }
h1 { border-bottom: solid 1px #CCCCCC; padding-bottom: 5px; font-size: 28px; }
h2 { font-size: 18px; color: #00ADEE; }

form { }
fieldset { border: none; padding: 0; }

header { background-color: #4D4D4D; height: 53px; display: block; padding: 10px; color: white; }
header #logo { float: left; display: block; height: 35px; width: 198px; }
header #logo img { border: none; }
header a { color: white; }
header a:hover { color: white; }
header .nav { width: 420px; float: left; padding-left: 25px; padding-top: 2px; }
header .nav a { cursor: pointer; text-decoration: none; margin-right: 8px; display: block; width: 110px; float: left; height: 27px; padding-top: 5px; text-align: center; -moz-border-radius: 8px; -webkit-border-radius: 8px; border: solid 1px #4D4D4D; }
header .nav a:hover { border: solid 1px white; }
header .nav #btn-browse { background-color: #00ADEE; }
header .nav #btn-create { background-color: #EB008B; }
header .nav #btn-share { background-color: #666666; }
header .user { width: 350px; float: right; text-align: right; line-height: 18px; }
header .user .name { font-weight: bold; }
header .user img.gravatar { float: right; height: 36px; width: 36px; margin-left: 10px; }

div.shadow { background: transparent url("/static/img/header-shadow.jpg") repeat-x top; position: absolute; top: 53px; left: 0; width: 100%; height: 20px; }
div.width-wrapper { width: 1000px; margin-left: auto; margin-right: auto; }
div.main { background-color: white; width: 950px; padding: 20px 30px; margin-top: 10px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border: 1px solid #CCCCCC; margin-left: auto; margin-right: auto; }
div.content { width: 770px; padding-right: 15px; float: left; }
div.ad { width: 150px; padding-left: 10px; float: left; }

span.clear { clear: both; display: block; height: 1px; }
span.highlight { color: #EB008B; }

/* Sharing page */
.agreement { padding: 10px; margin-bottom: 15px; border: solid 1px #ccc; }
.agreement input { float: left; }
.agreement label { font-size: 14px; margin-left: 30px; display: block; }
table.common-locations { width: 100%; margin-bottom: 15px; font-size: 13px; }
table.common-locations td.os { width: 20%; }
#file-uploader { min-height: 100px; }

/* Common Styles for Code Snipets */
.scheme-preview { position: relative; width: 55%; }
.ksf-common { font-family: monospace; color: black; background-color: white; font-size: 12px; border: solid 1px white; padding: 15px; }
.ksf-common .line .indent { padding-left: 35px; }
.ksf-common .line .indent-twice { padding-left: 55px; }
.line { position: relative; padding-bottom: 3px; }
.line .ksf-linenumbers { float: left; width: 45px; text-align: right; }
.line .line-content { margin-left: 50px; padding-left: 15px; display: block; }