/* HTML5 boiler plate reset + friends */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
img { border-width: 0; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

 /* Primary Styles */
html { background-color: #1A1A1A; height: 100%; }
body { width: 1000px; margin: 0 auto; background: #1C1C1C url("/static/img/header.png") no-repeat top center; border-left: solid 2px #262626; border-right: solid 2px #262626; height: 100%; min-height: 716px; font-family: Trebuchet MS, Trebuchet, Helvetica, Arial, sans-serif; color: #E6E6E6; padding: 0 15px; }
header { display: block; height: 120px; }
header span { font-weight: bold; }
footer { clear: both; bottom: 20px; width:1000px; position: absolute; }
footer > nav { float: right; margin-left: 10px; }
footer #user-bar { width: 200px; }
footer #share { width: 150px; }
footer #about { width: 100px; }
img.footer { position: absolute; bottom: 0; }
h1 { font-size: 28px; text-transform: uppercase; margin-bottom: 10px; }
h2 { font-size: 23px; text-transform: uppercase; margin-bottom: 5px; }
h3 { font-size: 18px; text-transform: uppercase; margin-bottom: 5px; color: #EC297B; }

span.clear { display: block; height: 1px; margin-top: 10px; margin-bottom: 10px; clear: both; }
span.highlight { color: #00B0D8; }
a.clickable-overlay { display: block;  position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

hgroup.ads { display: block; clear: both; padding-top: 10px; margin-left: 15px; }
.ads aside { display: block; height: 100px; float: left; margin-left: 28px; }
.ads aside:first-child { margin-left: 0 !important; }
.ads .one { width: 300px; }
.ads .two { width: 632px; margin-left: 25px; }
.ads .empty { border: dashed 1px #262626; text-align: center; padding-top: 40px;  height: 60px; }
.ads .empty a { color: #363636; }
.ads .empty a:hover { color: #D91C5C; }

.tooltip { display:none; background:transparent url("/static/img/tooltip-bg.png"); font-size:12px; height: 60px; width: 143px; padding: 25px 25px 0 25px; color: #fff; text-align: center; }
.themes { margin-left: 7px; padding-top: 15px; clear: both; min-height: 336px; }
.themes .theme-preview { height: 168px; width: 330px; float: left; position: relative; background: transparent url("/static/img/theme-preview-bg.png") no-repeat 0 0; }
.themes .theme-preview-hover { background-position: -332px -3px; }
.themes .theme-preview-hover article {  }
.themes article { cursor: pointer; border: solid 1px #333333; height: 137px; width: 302px; margin-top: 8px; margin-left: 8px; font-size: 12px; overflow: hidden; position: relative; }
.themes article .ksf-linenumbers { position: absolute; top: 0; left: 0; width: 25px; text-align: right; z-index: 1; margin-left: 0; height: 137px; }
.themes article .ksf-linenumbers span { display: block; padding: 2px; height: 15px; }
.themes article .line-content { display: block; }
.themes article > div > div { margin-left: 35px; padding: 2px; overflow: hidden; word-wrap: break-word; width: 500px; height: 15px; }
.themes article > div > div .indent { padding-left: 20px; }
.themes article > div > div .indent-twice { padding-left: 40px; }
.themes article > div > div { position: relative; padding-bottom: 3px; }
.themes .fog { position: absolute; background-color: #1C1C1C; z-index: 3; }
.themes .fog img { position: absolute; bottom: 15px; right: 15px; }
.three-row .themes { min-height: 504px;  }
.three-row .nav-arrow { top: 390px; }

nav { cursor: pointer; font-size: 18px; background-color: #262626; border: solid 1px #333333; background-repeat: no-repeat; background-position: center right; padding: 7px 10px; -moz-border-radius: 7px; border-radius: 7px; }
nav.hover { background-color: #D91C5C; }
nav.down { background-color: #00B0D8; }
nav em { float: right; display: block; margin-top: -1px; border-width: 0 !important; height: 24px; width: 24px; background: transparent url("/static/img/bar-arrows.png") no-repeat; }
nav em.up-arrow { background-position: 0 0; }
nav em.right-arrow { background-position: -24px 0; }
nav em.down-arrow { background-position: -48px 0; }
nav em.left-arrow { background-position: -72px 0; }
nav.hover em.up-arrow { background-position: -96px 0; }
nav.hover em.right-arrow { background-position: -120px 0; }
nav.hover em.down-arrow { background-position: -144px 0; }
nav.hover em.left-arrow { background-position: -168px 0; }
nav.down em.up-arrow { background-position: -192px 0; }
nav.down em.right-arrow { background-position: -216px 0; }
nav.down em.down-arrow { background-position: -240px 0; }
nav.down em.left-arrow { background-position: -264px 0; }

#arrow-left { right: 50%; margin-right: 490px; }
#arrow-right { left: 50%; margin-left: 490px;  }
.nav-arrow { position: absolute; top: 307px; z-index: 5; display: block; height: 52px; width: 52px; }
.nav-arrow a { display: block; height: 100%; width: 100%; background-image: url("/static/img/nav-arrow-sprite.png"); background-repeat: no-repeat; }
.nav-arrow .left { background-position: 0 0; }
.nav-arrow .right { background-position: -52px 0; }
.nav-arrow-hover .left { background-position: -104px 0; }
.nav-arrow-hover .right { background-position: -156px 0; }
.nav-arrow-down .left { background-position: -208px 0; }
.nav-arrow-down .right { background-position: -260px 0; }
#search { width: 468px; margin-right: 20px; float: left; }
#editor { width: 468px; float: left; }
#ajax-loading { position: absolute; left: 50%; margin-left: 440px; top: 50px; }

.col { background-color: #262626; border: solid 1px #333333; padding: 15px; -moz-border-radius: 10px; border-radius: 10px; }

/* Sharing page */
.share { padding: 25px; }
.agreement { padding: 10px; margin-bottom: 15px; border: solid 1px #333333; margin-top: 20px; margin-bottom: 20px; }
.agreement input { float: left; }
.agreement label { font-size: 14px; margin-left: 30px; display: block; }
table.common-locations { width: 100%; margin-bottom: 15px; font-size: 13px; }
table.common-locations td.os { width: 120px; }
table.common-locations td { padding-bottom: 10px; }
#file-uploader { min-height: 80px; }
.upload-preview { padding: 20px; border: 1px solid #333333; margin-bottom: 25px; margin-top: 10px; position: relative; }
.upload-preview .color-container { clear: both; padding: 5px; height: 20px; float: left; width: 718px; }
.upload-preview .color-container .color { height: 20px; width: 20px; float: left; margin-right: 5px; cursor: pointer; }
.upload-preview fieldset { clear: both; }
.upload-preview fieldset label { display: block; font-size: 18px; margin-bottom: 3px; }
.upload-preview input { width: 50%; font-size: 20px; width: 724px; padding: 5px; border: solid 1px #00ADEE; }
.upload-preview a.button { margin-top: 10px; float: right; }
.upload-preview .fog { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #1C1C1C; opacity: 0.75; filter: alpha(opacity=75) }
.upload-preview img.ajax-loader { position: absolute; top: 100px; left: 275px; }

/*
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
@media all and (orientation:portrait) {

}
@media all and (orientation:landscape) {

}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }

}
