/* HTML5 boiler plate reset + friends */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
img { border-width: 0; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*
 * Primary Styles
 */

html { background-color: #fff; height: 100%; }
body { padding-left: 10px; background: #fff url("/static/img/clouds-bg.png") repeat-x top; height: 100%; letter-spacing: -0.25px; font-family: Segoe UI, Trebuchet MS, Trebuchet, Helvetica, Arial, sans-serif; color: #566371; position: relative; }
a { color: #566371; text-decoration: underline; }
select { font-family: Segoe UI, Trebuchet MS, Trebuchet, Helvetica, Arial, sans-serif; color: #566371; padding: 1px; }

header { height: 150px; padding-top: 5px; z-index: 2; position: absolute; top: 0; left: 20px; }
header nav { background: transparent url("/static/img/front-page-sprite.png") no-repeat -64px 0px; width: 850px; height: 45px; text-shadow: #fff 1px 1px 0; }
header nav > div { float: left; margin-top: 16px; margin-right: 12px; }
header nav > div:last-child { margin-right: 0; }
header nav .gravatar { background: transparent url("/static/img/front-page-sprite.png") no-repeat -3px -7px; width: 56px; height: 58px; padding-top: 3px; margin-left: 15px; margin-top: 0; text-align: center; }
header nav .login { margin-left: 20px; }
header nav .login > img { margin: 0 8px; vertical-align: middle; }
header nav .user a { text-decoration: none; font-weight: bold; }
header nav .user a:hover { text-decoration: underline; }
header nav .user .username { font-weight: bold; font-size: 13px; }
header nav .user .notifications { font-weight: normal; font-size: 11px; padding-left: 5px; }
#colors { background: transparent url("/static/img/colors.png") no-repeat center center; width: 846px; height: 206px; position: absolute; z-index: 1; top: 45px; left: 60px; }
#logo { position: absolute; top: 0; left: 875px; background: transparent url("/static/img/logoish.png") no-repeat top center; width: 208px; height: 100px; }

#main { position: absolute; left: 10px; z-index: 3; top: 180px; width: 850px; position: relative; }
#main #top-bar { background-color: #566371; height: 15px; margin-bottom: 0; margin-left: 7px; width: 833px; }
#main #main-body { background: transparent url("/static/img/body-bg.png") repeat-y -2px; padding: 10px 20px 20px 27px; min-height: 650px; }
#main #main-body-top { background: transparent url("/static/img/body-bg-top.png") no-repeat -2px bottom; padding-top: 10px; }

.ksf-linenumbers { position: absolute; top: 4px; left: 5px; text-align: right; z-index: 1; margin-left: 0; height: 150px; width: 30px; padding: 0; overflow: hidden; }
.ksf-linenumbers span { display: block; padding: 2px; height: 16px; }
.line-content { display: block; }
article > div { height: 150px; overflow: hidden; width: 311px; }
article > div > div { padding: 2px; overflow: hidden; word-wrap: break-word; width: 350px; height: 15px; margin-left: 40px; }
article > div > div .indent { padding-left: 20px; }
article > div > div .indent-twice { padding-left: 40px; }
article > div > div .indent-thrice { padding-left: 60px; }
article > div > div { position: relative; padding-bottom: 3px; }

nav.schemes { position: relative; height: 33px; position: absolute; top: 0; left: 17px; margin-top: -24px; }
nav.schemes h1 { font-weight: bold; font-size: 13px; width: 30px; float: left; margin-top: 7px; margin-bottom: 1px; }
nav.schemes ul { list-style-type: none; margin-left: 10px; float: left; }
nav.schemes li { list-style-type: none; display: block; float: left; margin-right: 10px; }
nav.schemes li > a { text-decoration: none; text-shadow: #fff 1px 1px 0; float: left; display: block; width: 35px; height: 31px; padding: 8px 7px 0 15px; background: transparent url("/static/img/front-page-sprite.png") no-repeat -459px -47px; position: relative; }
nav.schemes li > a > em:last-child { display: block; height: 100%; width: 8px; background: transparent url("/static/img/front-page-sprite.png") no-repeat -630px -47px; position: absolute; top: 0; right: 0; margin-right: -8px; }
nav.schemes li.active { margin-right: 5px; }
nav.schemes li.active > a { background: #848E98 url("/static/img/scheme-tab-active.png") repeat-x bottom; text-shadow: 0 0 0; color: white; padding-right: 15px; text-align: center; font-weight: bold; }
nav.schemes li.active > a > em:last-child { display: none; }
nav.schemes .default { position: absolute; top: 0; right: 193px; margin-top: -3px; }
#main .lang { text-align: right; width: 350px; position: absolute; top: 0; left: 473px; }
#main .lang select { width: 190px; border: 0; }

hgroup.schemes { position: relative; }
hgroup.schemes > div { float: left; position: relative; padding: 5px; margin-left: 40px; }
hgroup.schemes > div.hover h1 { color: #C34D58; }
hgroup.schemes h1 { font-size: 24px; margin-bottom: 0px; font-weight: normal; letter-spacing: -1px; text-shadow: #ddd 2px 2px 0; }
hgroup.schemes a.smallbutton { position: absolute; right: 0; margin-right: -5px; z-index: 4; }
hgroup.schemes a.preview { top: 50px; margin-top: 0; }
hgroup.schemes a.preview > em { float: left; margin-top: 2px; margin-right: 1px; }
hgroup.schemes a.download { top: 80px; }
hgroup.schemes a.clickable { position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%; }
.schemes div.details { position: absolute; top: 18px; right: 19px; z-index: 5; }
.schemes div.details > span { display: block; float: right; padding-left: 9px; text-align: right; cursor: pointer; }
.schemes div.details > span > em { display: block; background: transparent url("/static/img/front-page-sprite.png") no-repeat; margin-top: 5px; margin-left: 2px; float: right; }
.schemes div.details .views > em { background-position: -406px -52px; height: 8px; width: 8px; }
.schemes div.details .downloads > em { background-position: -417px -62px; height: 8px; width: 9px; margin-top: 6px; }
.schemes div.details .votes > em { background-position: -417px -52px; height: 8px; width: 9px; margin-top: 6px; }
.schemes div.details .favorites > em { background-position: -428px -52px; height: 10px; width: 9px; margin-top: 4px; }
.schemes article { height: 168px; width: 321px; background: transparent url("/static/img/theme-bg.png") no-repeat top left; position: relative; padding: 4px 5px; }

.preview-icon { display: block; height: 11px; width: 11px; background: transparent url("/static/img/front-page-sprite.png") no-repeat -440px -52px; }
a.smallbutton { background: transparent url("/static/img/front-page-sprite.png") no-repeat -125px -48px; text-shadow: #fff 1px 1px 0; padding: 6px 10px; font-size: 11px; text-align: center; display: block; height: 13px; width: 50px; text-decoration: none; }
a.smallbutton:hover { background-position: -194px -48px; }
a.widebutton { display: block; width: 164px; height: 28px; background: transparent url("/static/img/preview-page-sprite.png") no-repeat 0 -73px; text-align: center; text-decoration: none; padding-top: 7px; font-weight: bold; text-shadow: #fff 1px 1px 0; font-size: 16px;  }
a.widebutton:hover { background-position: -163px -73px; }

div.preview { margin-top: 15px; }
.preview h1 { font-size: 27px; color: #C34D58; text-shadow: #ddd 2px 2px 0; margin-left: 95px; margin-bottom: 2px; }
.preview h1 .by { font-size: 15px; color: #000; font-style: italic; margin-left: 8px; }
.preview h1 > a { font-size: 22px; color: #566371; margin-left: 8px; font-weight: normal; text-decoration: none; }
.preview .buttons-col { width: 85px; float: left; text-align: center; padding-left: 5px; }
.preview .buttons-col a.button { background: transparent url("/static/img/preview-page-sprite.png") no-repeat 0 0; display: block; width: 67px; height: 75px; }
.preview .buttons-col a.vote { color: #C34D58; font-size: 26px; text-decoration: none; padding-top: 10px; height: 65px; }
.preview .buttons-col a.vote:hover { background-position: -130px 0; }
.preview .buttons-col a.favorite { background-position: -65px 0; }
.preview .buttons-col a.favorite:hover { background-position: -195px 0; }
.preview .buttons-col a.isfav { background-position: -260px 0; }
.preview .buttons-col a.isfav:hover { background-position: -325px 0; }
.preview .buttons-col a.edit { background-position: -390px 0; }
.preview .buttons-col a.edit:hover { background-position: -455px 0; }
.preview .buttons-col > div { margin-top: 10px; padding-top: 10px; border-top: solid 1px #566371; }
.preview article { height: 300px; width: 700px; margin-left: 95px; position: relative; }
.preview article > div { height: 100%; width: 100%; }
.preview .ksf-linenumbers { height: 292px; }
.preview .shadow { display: block; height: 12px; width: 714px; margin: 0 auto 0 88px; background: transparent url("/static/img/preview-shadow.png") no-repeat top center; }
.preview .details { margin-left: 95px; margin-top: 10px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: solid 1px #566371; }
.preview .details h2 { color: #C34D58; font-size: 18px; text-shadow: #ddd 2px 2px 0; margin-bottom: 12px; }
.preivew .details .desc { margin-left: 95px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: solid 1px #566371; }
.preview .details .langs { width: 490px; float: left; border-right: solid 1px #566371; }
.preview .details .langs ul { list-style-type: none; margin-left: 5px; }
.preview .details .langs li { background: transparent url("/static/img/preview-page-sprite.png") no-repeat -332px -73px; padding-left: 20px; margin-left: 0; list-style-type: none; display: block; width: 85px; margin-right: 15px; margin-bottom: 10px; float: left; }
.preview .details .stats { margin-left: 495px; padding-left: 25px; width: 275px;  }
.preview .details .stats .val { width: 60px; font-weight: bold; }
.preview .social-media { margin-left: 95px; }
.preview .social-media > div { float: left; margin-right: 7px; }
.preview .social-media > div:last-child { margin-right: 0; }
.preview a.download { display: block; position: absolute; top: 45px; right: 25px; }
.preview a.download span { font-size: 12px; padding-left: 3px; }
.preview a.back { margin-left: -14px; margin-top: -13px; }

nav.pagination { clear: both; margin-top: 25px; text-align: right; margin-right: 70px; }
nav.pagination .nav { float: right; text-decoration: none; font-weight: bold; font-size: 14px; text-shadow: #ddd 2px 2px 0; }
nav.pagination .nav > em { display: block; width: 8px; height: 9px; margin-top: 5px; background: transparent url("/static/img/front-page-sprite.png") no-repeat; }
nav.pagination .next { margin-left: 8px; }
nav.pagination .next > em { float: right; margin-left: 6px; background-position: -659px -52px; }
nav.pagination .prev { margin-right: 8px; }
nav.pagination .prev > em { float: left; margin-right: 6px; background-position: -647px -52px; }
nav.pagination li { float: right; position: relative; display: block; height: 14px; width: 14px; margin-top: 2px; margin-right: 5px; background: transparent url("/static/img/front-page-sprite.png") no-repeat -669px -52px; }
nav.pagination li:first-child { margin-right: 0; }
nav.pagination li.current { background-position: -685px -52px; }
nav.pagination li.hover { background-position: -701px -52px; }
nav.pagination li > a { display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; }


/*
 * Print Styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
@media all and (orientation:portrait) {

}
@media all and (orientation:landscape) {

}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }

}

/* Facebook */
/* span.connect_widget_not_connected_text { color: white !important; } */
