<hgroup class="ad">
    <h1>Hook-Up Some Coder Swag</h1>
    <div class="img">
        <a class="img" href="{{ ad_1['url'] }}" title="{{ ad_1['desc'] }}"><img src="/static/ads{{ ad_1['img'] }}" /></a>
    </div>
    <div class="desc">
        <a href="{{ ad_1['url'] }}">{{ ad_1['desc'] }}</a>
    </div>
</hgroup>
<hgroup class="ad">
    <div class="img">
        <a class="img" href="{{ ad_2['url'] }}" title="{{ ad_2['desc'] }}"><img src="/static/ads{{ ad_2['img'] }}" /></a>
    </div>
    <div class="desc">
        <a href="{{ ad_2['url'] }}">{{ ad_2['desc'] }}</a>
    </div>
    <span class="disclosure">
        Disclosure: The above links are affiliate links which I <a href="http://www.viglink.com/corp/ftc">receive payment</a> for.
    </span>
</hgroup>