{% extends "../_base.html" %}
{% block title %}Contact{% end %}
{% block main_div %}class="info"{% end %}

{% block above_body %}
    <nav class="schemes preview">
        <a href="/" class="widebutton back" title="Return to Schemes Listing page">&lt; Back to Schemes</a>
    </nav>
{% end %}

{% block body %}
    <h1>TODO: Make a real contact page</h1>
    <p>
        For now just send an email: <a href="mailto:webmaster@kolormodo.com">webmaster@kolormodo.com</a>
    </p>
    <p>
        If you're emailing a feature suggestion -- which is totally cool by the way -- check the <a href="/info/blog">Kolormodo.com Blog</a> to see if
        it's mention on the upcoming features list.
    </p>
{% end %}