<style type="text/css">
    {{ escape(scheme.general_css) }}
</style>
<div class="scheme">
    <h1>{{ escape(scheme.title) }}</h1>
    <article id="cs-{{ scheme.key().id() }}">
            <div class="ksf-common">
                <div class="ksf-linenumbers">
                <span>1.</span>
                <span>2.</span>
                <span>3.</span>
                <span>4.</span>
                <span>5.</span>
                <span>6.</span>
                <span>7.</span>
                <span>8.</span>
                <span>9.</span>
            </div>
            {{ lang_template }}
        </div>
    </article>
    <a class="button preview" title="Preview {{ escape(scheme.title) }}" href="{{ scheme.preview_url }}">Preview</a>
    <a class="button download" title="Download {{ escape(scheme.title) }}" href="{{ scheme.download_url }}">Download</a>
    <a class="clickable" href="{{ scheme.preview_url }}" title="Preview {{ escape(scheme.title) }} by {{ escape(scheme.author.nickname()) }}"></a>
</div>