<style type="text/css">
    {{ escape(scheme.all_css()) }}
</style>
<div class="scheme">
    <h1>{{ escape(scheme.title) }}</h1>
    <div class="details" style="display: none;">
        <span class="favorites" title="{{ modules.numOrZero(scheme.favorite_count) }} Favorites">{{ modules.safenum(scheme.favorite_count) }}<em></em></span>
        <span class="votes" title="{{ modules.numOrZero(scheme.votes) }} Votes">{{ modules.safenum(scheme.votes) }}<em></em></span>
        <span class="downloads" title="{{ modules.numOrZero(scheme.download_count) }} Downloads">{{ modules.safenum(scheme.download_count) }}<em></em></span>
        <span class="views" title="{{ modules.numOrZero(scheme.view_count) }} Views">{{ modules.safenum(scheme.view_count) }}<em></em></span>
    </div>
    <article id="cs-{{ scheme.safe_id }}">
            <div class="ksf-common {{ lang }}">
                <div class="ksf-linenumbers">
                <span>1.</span>
                <span>2.</span>
                <span>3.</span>
                <span>4.</span>
                <span>5.</span>
                <span>6.</span>
                <span>7.</span>
                <span>8.</span>
                <span>9.</span>
            </div>
            {{ lang_template }}
        </div>
    </article>
    <a class="smallbutton preview" title="Preview {{ escape(scheme.title) }}" href="{{ scheme.preview_url }}">Preview</a>
    <a class="smallbutton download" title="Download {{ escape(scheme.title) }}" href="{{ scheme.download_url }}">Download</a>
    <a class="clickable" href="{{ scheme.preview_url }}" title="Preview {{ escape(scheme.title) }} by {{ escape(scheme.author.nickname()) }}"></a>
</div>