<!doctype html>
<html lang="en" class="no-js" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title_override %}{% block title %}{% end %} | Kolormodo.com | Put a little kolor in your kdragon{% end %}</title>
    <meta name="description" content="Color schemes for Komodo edit and Komodo IDE">
    <meta name="author" content="Titus Stone">
    <meta name="tags" content="color scheme, color theme, komodo, komodo edit, komodo ide">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/style.css?v=1">
    <link rel="stylesheet" media="handheld" href="/static/css/handheld.css?v=1">
    <script src="/static/js/modernizr-1.5.min.js"></script>
    {% block head %}{% end %}
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    <header>
        <nav>
            {{ modules.UserHeader() }}
            <a id="logo" href="/" title="Kolormodo :: Slay the kdragon with kolor!"></a>
        </nav>
    </header>

    <div id="colors"></div>

    <div id="main" {% block main_div %}{% end %}>
        <div id="top-bar"></div>
        <div id="main-body-top"></div>
        {% block above_body %}{% end %}
        <div id="main-body">
            {% block body %}{% end %}
            <span style="clear:both; height:1px; display:block;"></span>
        </div>
        <aside class="sidebar">
            <hgroup>
                <div>
                    <!-- ZOMG Ugly Markup incoming! -->
                    <center style="color:#C34D58;font-weight: bold;font-size: 18px;">THIS SITE IS STILL UNDER DEVELOPMENT</center><br/>
                    The <a href="http://kolormodo.tumblr.com">blog</a> has the latest news on updates.<br/>
                    <hr/>
                    Last Update: <strong>Oct 30, 2010</strong><br/>
                    Feedback: <a href="mailto:webmaster@kolormodo.com">webmaster</a>
                </div>
            </hgroup>
            {% block above_ads %}{% end %}
            {{ modules.DoubleAdMediumSquare() }}
            {% block below_ads %}{% end %}
            <hgroup class="about contact">
                <h1>Not Theme Related</h1>
                <a href="/info/about">About Kolormodo.com</a>
                <a href="http://kolormodo.tumblr.com">Official Blog</a>
                <a href="/info/contact">Contact &amp; Feedback</a>
            </hgroup>
        </aside>

        <footer><!-- I'm a sad footer --></footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
    <script src="/static/js/plugins.js?v=1"></script>
    <script src="/static/js/script.js?v=1"></script>
    {% block script %}{% end %}
    <!--[if lt IE 7 ]>
      <script src="/static/js/dd_belatedpng.js?v=1"></script>
    <![endif]-->
    {% if localhost %}
    <script src="/static/js/profiling/yahoo-profiling.min.js?v=1"></script>
    <script src="/static/js/profiling/config.js?v=1"></script>
    {% end %}
    {% if not localhost %}
    <script type="text/javascript">
        var vglnk = { api_url: '//api.viglink.com/api', key: 'bf68d7149bf34b9f188b01283caff9de' };
        (function(d, t) {
          var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
          s.src = vglnk.api_url + '/vglnk.js?key=' + vglnk.key;
          var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
        }(document, 'script'));
    </script>
    <script>
        var _gaq = [['_setAccount', 'UA-17994366-1'], ['_trackPageview']];
        (function(d, t) {
         var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
         g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
        })(document, 'script');
    </script>
    {% end %}
</body>
</html>