<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title_override %}{% block title %}{% endblock %} | Kolormodo.com | Put a little kolor in your kdragon{% endblock %}</title>
    <meta name="description" content="Color schemes for Komodo edit and Komodo IDE">
    <meta name="author" content="Titus Stone">
    <meta name="tags" content="color scheme, color theme, komodo, komodo edit, komodo ide">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/style.css?v=1">
    <link rel="stylesheet" media="handheld" href="/static/css/handheld.css?v=1">
    <script src="/static/js/modernizr-1.5.min.js"></script>
    {% block head %}{% endblock %}
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    <div id="container">
        <header>
            <!-- <span>this is kolormodo:</span> color schemes for komodo (edit|ide) -->
        </header>

        <div id="main">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <nav id="user-bar" title="manage your user settings &amp; profile">wastingtape<em class="up-arrow"></em></nav>
            <nav id="share" title="upload &amp; share your color schemes here">upload themes</nav>
            <nav id="about" title="a little about kolormodo.com">about</div>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
    <script src="http://cdn.jquerytools.org/1.2.3/jquery.tools.min.js"></script>
    <!-- <script type="text/javascript" src="/static/js/jquery.form.js"></script> -->
    <script src="/static/js/plugins.js?v=1"></script>
    <script src="/static/js/script.js?v=1"></script>
    {% block script %}{% endblock %}
    <!--[if lt IE 7 ]>
      <script src="/static/js/dd_belatedpng.js?v=1"></script>
    <![endif]-->
    <script src="/static/js/profiling/yahoo-profiling.min.js?v=1"></script>
    <script src="/static/js/profiling/config.js?v=1"></script>
    <script>
     // TODO: setup google analytics
     /* var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
     })(document, 'script'); */
    </script>
    <img src="/static/img/tooltip-bg.png" style="display:none" />
</body>
</html>