{% extends "_base.html" %}
{% block title %}Browse Color Schemes{% endblock %}

{% block body_tag %}id="home"{% endblock %}
{% block body %}

    <div class="filters">
        <h3>Filters</h3>
        <div class="container"></div>
        <a href="#AddFilter" id="AddFilter">Add another filter</a>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/browse-filters.js"></script>
<script type="text/javascript">
    google.setOnLoadCallback(function() {
        $(function() {
            Filters.init();
        });
    });
</script>
{% endblock %}
