{% extends "_base.html" %}
{% block title_override %}Kolormodo.com | Komodo Edit and Komodo IDE color schemes{% end %}

{% block above_body %}
    <nav class="schemes">
        <hgroup>
            <h1>Sort:</h1>
            <ul>
                <li id="sort-views" {% if sort == 'views' %}class="active"{% end %}>
                    <a href="{{ modules.set_sort_url(querystring, 'views') }}" title="Sort color schemes by # of views">Views<em></em></a>
                </li>
                <li id="sort-downloads" {% if sort == 'downloads' %}class="active"{% end %}>
                    <a href="{{ modules.set_sort_url(querystring, 'downloads') }}" title="Sort color schemes by # of downloads" style="width:65px;">Downloads<em></em></a>
                </li>
                <li id="sort-votes" {% if sort == 'votes' %}class="active"{% end %}>
                    <a href="{{ modules.set_sort_url(querystring, 'votes') }}" title="Sort color schemes by # of votes">Votes<em></em></a>
                </li>
                <li id="sort-new" {% if sort == 'new' or not sort %}class="active"{% end %}>
                    <a href="{{ modules.set_sort_url(querystring, 'new') }}" title="Sort color schemes by how recently they were created" style="width:43px;">Newest<em></em></a>
                </li>
            </ul>
        </hgroup>
        <div class="lang">
            <a class="smallbutton default" href="#" title="Make this language your default preview language" style="display:none;">Default</a>
            <select>
                <option value="" selected="selected">Choose a preview language</option>
                <option value="css">CSS</option>
                <option value="perl">Perl</option>
                <option value="php">PHP</option>
                <option value="python">Python</option>
                <option value="ruby">Ruby</option>
                <option value="xml">XML</option>
            </select>
        </div>
    </nav>
{% end %}

{% block body %}
    <hgroup class="schemes">
        {% for scheme in schemes %}
            {{ modules.SchemePreviewSmall(scheme, lang) }}
        {% end %}
    </hgroup>

    {{ modules.PaginationControls(pagination) }}
{% end %}

{% block above_ads %}
    <hgroup class="similar">
        <h1>About Kolormodo.com</h1>
        <p>An unofficial site for color schemes for Komodo Edit or IDE built on <a href="http://code.google.com/appengine/">Google AppEngine (python)</a>.</p>
    </hgroup>
{% end %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            storeInTemplateLang($('.schemes article .ksf-common').get(0), '{{ lang }}');
            activatePreviewLanguage();
            detailsOnHover();
            $('hgroup.schemes a.clickable').parentHoverClass('hover');
        });
    </script>
{% end %}