{% extends "_base.html" %}
{% block title_override %}Kolormodo.com | Komodo Edit and Komodo IDE color schemes{% end %}
{% block head %}
<style type="text/css">
    {{ escape(scheme.all_css()) }}
</style>
{% end %}

{% block above_body %}
    <nav class="schemes preview">
        <div class="lang">
            <select>
                <option value="" selected="selected">Choose a preview language</option>
                <option value="css">CSS</option>
                <option value="perl">Perl</option>
                <option value="python">Python</option>
                <option value="ruby">Ruby</option>
            </select>
        </div>
        <a href="{{ back }}" class="widebutton back" title="Return to Schemes Listing page">&lt; Back to Schemes</a>
    </nav>
{% end %}

{% block body %}
    <div class="preview">
        <a class="download widebutton" href="{{ scheme.download_url }}" title="download {{ escape(scheme.title) }} color scheme">download<span>({{ len(scheme.raw) / 1000 }}k)</span></a>
        <div class="header">
            <h1>{{ escape(scheme.title) }}<span class="by">by</span><a href="/user/???">{{ escape(scheme.author.nickname()) }}</a>
        </div>
        <div class="scheme-row">
            <div class="buttons-col">
                <a class="button vote" rel="nofollow" href="{{ scheme.vote_url }}">{{ modules.safenum(scheme.votes) }}</a>

                {% if user_favorite %}
                    <a class="button favorite isfav" rel="nofollow" href="{{ scheme.favorite_url }}/undo"></a>
                {% else %}
                    <a class="button favorite" rel="nofollow" href="{{ scheme.favorite_url }}/add"></a>
                {% end %}

                {% if scheme.author == user %}
                    <a class="button edit" rel="nofollow" href="{{ scheme.favorite_url }}"></a>
                {% end %}

            </div>
            <article id="cs-{{ scheme.safe_id }}">
                <div class="ksf-common {{ lang }}">
                    <div class="ksf-linenumbers">
                        <span>1.</span>
                        <span>2.</span>
                        <span>3.</span>
                        <span>4.</span>
                        <span>5.</span>
                        <span>6.</span>
                        <span>7.</span>
                        <span>8.</span>
                        <span>9.</span>
                        <span>10.</span>
                        <span>11.</span>
                        <span>12.</span>
                        <span>13.</span>
                        <span>14.</span>
                        <span>15.</span>
                    </div>
                    {{ lang_template }}
                </div>
            </article>
            <span class="shadow"></span>
        </div>
        <div class="details">
            {% if scheme.description %}
            <div class="desc">
                <h2>From the Author</h2>
                {{ escape(scheme.description) }}
            </div>
            {% end %}
            <div class="langs">
                <h2>Languages in Scheme</h2>
                <ul>
                    {% for extralang in scheme.extra_langs %}
                        <li>{{ escape(extralang) }}</li>
                    {% end %}
                </ul>
                <span style="clear:both; display:block; height:1px;"></span>
            </div>
            <div class="stats">
                <h2>Stats</h2>
                <table>
                    <tr>
                        <td class="val">{{ len(scheme.raw) / 1000 }} kb</td><td>file size</td>
                    </tr>
                    <tr>
                        <td class="val">{{ scheme.view_count }}</td><td>views</td>
                    </tr>
                    <tr>
                        <td class="val">{{ scheme.download_count }}</td><td>downloads</td>
                    </tr>
                    <tr>
                        <td class="val">{{ scheme.favorite_count }}</td><td>favorites</td>
                    </tr>
                </table>
            </div>
            <span style="clear:both; display:block; height:1px;"></span>
        </div>
        <div class="social-media">
            <div>
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ scheme.preview_url }}" data-text="{{ escape(scheme.title) }} color scheme for #komodo" data-count="horizontal" data-via="kolormodo">Tweet</a> <!-- data-related="author's twitter:description" -->
            </div>
            <div>
                <fb:like href="{{ scheme.preview_url }}"></fb:like>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
{% end %}

{% block script %}
    <script type="text/javascript">
        storeInTemplateLang($('.schemes article .ksf-common').get(0), '{{ lang }}');
        activatePreviewLanguage();

        var favLock = false;
        var voteLock = false;

        $('a.favorite').click(function() {
            if (!favLock) {
                var a = $(this);
                favLock = true;

                $.ajax({
                    url: a.attr('href'),
                    type: 'GET',
                    success: function(data, status, xhr) {
                        if (a.hasClass('isfav')) {
                            a.removeClass('isfav');
                            a.attr('href', a.attr('href').replace('/add', '/undo'));
                        }
                        else {
                            a.addClass('isfav');
                            a.attr('href', a.attr('href').replace('/undo', '/add'));
                        }
                    },
                    error: function() {
                        alert('A server error prevented you from favoriting this scheme.  Try again later.');
                    },
                    complete: function() {
                        favLock = false;
                    }
                });
            }
            return false;
        });

        $('a.vote').click(function() {
            if(!voteLock) {
                var a = $(this);
                voteLock = true;

                $.ajax({
                    url: a.attr('href'),
                    type: 'GET',
                    success: function(data, status, xhr) {
                        var num = Number(a.text());
                        a.text(num+1);
                    },
                    error: function(xhr, status, error) {
                        alert('You already voted for this scheme.');
                    },
                    complete: function() {
                        voteLock = false;
                    }
                });
            }
            return false;
        });

    </script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({appId: '148285178523496', status: true, cookie: true, xfbml: true});
        };
        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
{% end %}