{% extends "_base.html" %}
{% block title %}Share{% end %}
{% block main_div %}class="info"{% end %}

{% block body %}
    <div class="share">
        <h1>Share a Komodo Color Scheme</h1>

        <div class="col">
            <h2>License</h2>
            <p class="license">
                <img src="/static/img/cc-by-nc-sa.png" title="Creative Commons Attribution Non-Commercial Share Alike" />
                All content uploaded to Kolormodo.com is released to the public under the
                <a href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank">Creative Commons Attribution Non-Commercial Share Alike</a>.
            </p>
        </div>

        <div class="col">
            <h2>Rights &amp; Priviledges</h2>
            <p class="license">
                This means others can download, use, and remix your color scheme.  They may upload their remix to this and
                other sites provided that they attribute you as the original author and that your original or their
                derivitive not be used for commercial gain.
            </p>
        </div>

        <form method="POST" id="share-form" enctype="multipart/form-data">

            {% if error %}
            {{ modules.ErrorPanel(error) }}
            <div style="margin-left: 127px;margin-top: 15px;">
                <a href="/share" class="widebutton">Try Again</a>
            </div>

            {% else %}

            <ul class="tabs">
                <li><a href="#Upload">By Upload</a></li>
                <li><a href="#DirectInput">By Direct Input</a></li>
                <li><a href="#GitHub">By GitHub</a></li>
            </ul>

            <div class="tab-container">

                <!-- Upload -->
                <div id="Upload">
                    <div class="upload">
                        <input type="file" name="fileupload">
                    </div>

                    <div class="common-locations">
                        <h3>Common Color Scheme Locations by OS</h3>
                        <table>
                            <tr>
                                <td class="os">Windows Vista &amp; 7</td>
                                <td>C:\Users\&lt;Your Username&gt;\AppData\Local\ActiveState\KomodoEdit\&lt;version&gt;\schemes</td>
                            </tr>
                            <tr>
                                <td class="os">Windows XP</td>
                                <td>C:\Document and Settings\&lt;Your Username&gt;\AppData\Local\ActiveState\KomodoEdit\&lt;version&gt;\schemes</td>
                            </tr>
                            <tr>
                                <td class="os">Ubuntu / Linux</td>
                                <td>~/.komodoedit/&lt;version&gt;/schemes</td>
                            </tr>
                            <tr>
                                <td class="os">Mac OSX</td>
                                <td>(someone <a href="mailto:webmaster@kolormodo.com">email me</a> and let me know)</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Direct Input -->
                <div id="DirectInput">
                    <p>Copy and Paste your color scheme below.</p>
                    <div class="field textarea">
                        <textarea name="directinput"></textarea>
                    </div>
                </div>

                <!-- GitHub -->
                <div id="GitHub">
                    <div class="field name">
                        <label>Github Username:</label>
                        <input type="text" id="github-username"></input>
                        <a href="#GetGists" id="find-gists-btn" class="smallbutton">Get Gists</a>
                        <span class="clearfix"></span>
                    </div>
                    <div class="field gists" style="display:none;">
                        <label>Gists:</label>
                        <select id="gists-list"></select>
                        <span id="ajax-loading" style="display:none;"><img src="/static/img/ajax-loading.gif" /></span>
                    </div>
                    <div class="field textarea"  style="display:none;">
                        <textarea name="github-gist" id="github-gist"></textarea>
                    </div>
                    <input type="hidden" id="gist-url" name="gist-url" />
                </div>

            </div>

            {{ xsrf_form_html() }}

            <fieldset class="agreement">
                <input type="checkbox" id="agreement" name="agreement" />
                <label for="agreement">
                    I certify that I have permission to upload the above color scheme and
                    agree to release it under the Creative Commons Attribution Non-Commercial Share Alike license.
                </label>
            </fieldset>

            <fieldset class="buttons">
                <a href="#Submit" class="widebutton" id="share-btn">Share Scheme</a>
            </fieldset>

            {% end %}
        </form>

    </div>
    &nbsp;
{% end %}

{% block script %}
<script type="text/javascript">
    $(function() {
        new SimpleTabs($('ul.tabs'), $('.tab-container'));
        new GitHubUI($('#GitHub'));
        // Require agreement client-side
        $('#share-btn').click(function() {
            if (typeof($('#agreement:checked').val()) === 'undefined') {
                alert('Please agree to the licensing terms before sharing this scheme.');
                $('#agreement').css('background-color', '#C34D58');
                $('#agreement').css('color', '#fff');
            }
            else {
                $('#share-form').submit();
                return false;
            }
        });
    });
</script>
{% end %}