{% extends "_base.html" %}
{% block title %}{{ page_title }}{% endblock %}

{% block head %}
<style type="text/css">
{{ css }}
</style>
{% endblock %}

{% block body %}
    <h1>{{ scheme.title }}</h1>
    <h2>by {{ scheme.author.nickname }}</h2>

    <div class="fancy-preview col">
        <div class="nav">
            <select id="view-language">
                <option value="css" selected="selected">CSS</option>
                <option value="perl">Perl</option>
                <option value="python" selected="selected">Python</option>
            </select>
        </div>
        <article id="cs-{{ scheme.safe_id }}">
            <div class="ksf-common">
                {{ template }}
            </div>
        </article>
    </div>
    <aside class="scheme-actions col">
        actions
    </aside>
    <span class="clear"></span>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        var fp = $('div.fancy-preview').fancyPreview();
    });
</script>
{% endblock %}